@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "sat-bold";
  src: url("/Satoshi-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "sat-medium";
  src: url("/Satoshi-Medium.otf");
  font-weight: 600;
}
@font-face {
  font-family: "sat-regular";
  src: url("/Satoshi-Regular.otf");
  font-weight: 500;
  
}
@font-face {
  font-family: "sat-light";
  src: url("/Satoshi-Light.otf");
  font-weight: 400;
  
}

@font-face {
  font-family: "circular";
  src: url("../assets/real-font/CircularStd-Book.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "circular";
  src: url("../assets/real-font/CircularStd-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "circular";
  src: url("../assets/real-font/CircularStd-BoldItalic.woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "circular";
  src: url("../assets/real-font/CircularStd-Medium.woff2");
  font-weight: 500;
  
}

@font-face {
  font-family: "r-flex";
  src: url("../assets/real-font/R-FLEX-BOLD.otf");
  font-weight: 700;
}

@font-face {
  font-family: "r-flex";
  src: url("../assets/real-font/R-FLEX-REGULAR.otf");
  font-weight: 400;
}

.sat-regular{
  font-family: "sat-regular";
}

.r-flex {
  font-family: "r-flex";
}

.circular {
  font-family: "circular";
}

.sat-bold{
  font-family: "sat-bold";
}

.sat-light{
  font-family: "sat-light";
}

.sat-medium{
  font-family: "sat-medium";
}

.Satoshi{
  font-family: "Satoshi";
}